body{
    background-color:rgba(148, 59, 207, 0.603); 
}
header{
    color:rgb(252, 211, 158);
    text-align: center;
    }
div{
    color:rgb(47, 0, 255);
    text-align: center;
} 
@media screen and (min-width: 769px) {
    header{
        font-size: 60px;
    }
    body{
        background-color:rgba(148, 59, 207, 0.603); 
    }
    header{
        color:rgb(252, 211, 158);
        text-align: center;
        }
    div{
        color:rgb(47, 0, 255);
        text-align: center;
    } 
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    header{
        font-size: 30px;
    }
}
@media screen and (min-width: 0px) and (max-width: 320px){
    header{
        font-size: 10px;
    }
}